.sectionQuoc {
    position: relative;
    height: 100vh;
}

.booking-formQuoc .pQuoc{
    color: #fff;
    background-color: #4fa3e3;
    font-weight: 400;
    font-size: 30px;
    border: none;
    width: 100%;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    height: 65px;
    padding-top: 10px;
}

.sectionQuoc .sectionQuoc-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#bookingQuoc {
    font-family: 'Lato', sans-serif;
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-position: center;
    color: #191a1e;
}

.booking-formQuoc {
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0;
    /*padding: 25px 25px 25px;*/
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-formQuoc-padding{
    padding: 0px 25px 25px;
}

.booking-formQuoc .form-group {
    position: relative;
    margin-bottom: 20px;
}

.booking-formQuoc .form-control {
    background-color: #fff;
    height: 65px;
    padding: 0px 15px;
    padding-top: 24px;
    color: #191a1e;
    border: 2px solid #dfe5e9;
    font-size: 16px;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-formQuoc .form-controlQuoc::-webkit-input-placeholder {
    color: #dfe5e9;
}

.booking-formQuoc .form-controlQuoc:-ms-input-placeholder {
    color: #dfe5e9;
}

.booking-formQuoc .form-controlQuoc::placeholder {
    color: #dfe5e9;
}

.booking-form .form-controlQuoc:focus {
    background: #f9fafb;
}

.booking-formQuoc input[type="date"].form-controlQuoc:invalid {
    color: #dfe5e9;
}

.booking-formQuoc select.form-controlQuoc {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-formQuoc select.form-controlQuoc+.select-arrow {
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: #dfe5e9;
    font-size: 14px;
}

.booking-formQuoc select.form-controlQuoc+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#id_gioi_tinh_employee{
    font-size: 12px;
    color: #98c9ee;
    text-transform: uppercase;

}

.booking-formQuoc .form-label {
    position: absolute;
    top: 6px;
    left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
    height: 24px;
    font-size: 12px;
    color: #98c9ee;
}

.booking-formQuoc .form-checkbox input {
    position: absolute !important;
    margin-left: -9999px !important;
    visibility: hidden !important;
}

.booking-formQuoc .form-checkbox label {
    position: relative;
    padding-top: 4px;
    padding-left: 30px;
    font-weight: 700;
    color: #191a1e;
}

.booking-formQuoc .form-checkbox label+label {
    margin-left: 15px;
}

.booking-formQuoc .form-checkbox input+span {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #dfe5e9;
    border-radius: 50%;
}

.booking-formQuoc .form-checkbox input+span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #4fa3e3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-formQuoc .form-checkbox input:not(:checked)+span:after {
    opacity: 0;
}

.booking-formQuoc .form-checkbox input:checked+span:after {
    opacity: 1;
    width: 10px;
    height: 10px;
}

    /*.booking-form .submit-btn {*/
    /*	color: #fff;*/
    /*	background-color: rgb(223, 165, 18);*/
    /*	font-weight: 400;*/
    /*	height: 40px;*/
    /*	font-size: 18px;*/
    /*	border: none;*/
    /*	width: 20%;*/
    /*	border-radius: 4px;*/
    /*	text-transform: uppercase;*/
    /*	!*justify-content: right;*!*/
    /*	!*display: flex;*!*/

    /*}*/

.booking-cta {
    margin-top: 45px;
}

.booking-cta h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #4fa3e3;
    font-weight: 400;
}

.booking-cta p {
    font-size: 22px;
    color: #191a1e;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.form_button_employee {
    background: #dfa512;
    color: white;
}

.form_exit_employee {
    background: #555e67;
    margin-right: 10px;
    color: white
}

.search_gender_employee {
    padding-top: 5px;
    margin-right: 10px;
}

.search_name_employee {
    margin-left: 30px;
    padding-top: 5px;
}

.search_button_employee {
    background: #dfa512;
    color: white;

}

.table_header_employee {
    background: rgb(6, 133, 170);
    color: #ffffff;
}

.icon_detail_employee {
    font-size: 25px;
    margin-right: 20px;
    color: #0653aa;
}

.icon_edit_employee {
    font-size: 25px;
    margin-right: 20px;
    color: #0685aa
}

.icon_delete_employee {
    font-size: 25px;
    color: #8f1f34;
}

.error_red_employee {
    color: red;
}

.image_employee {
    width: 35px;
    border-radius: 35px;
    margin-right: 10px;
}

.style_button_search_page{
    width: 3rem;
    height: 20px;
    padding-left: 5px;
    border: 1px solid black;
    margin-right: 5px;
    color: black;
    text-align: center;
}
.style_button_page{
    background: rgb(223, 165, 18);
    color: #ffffff;
    margin-right: 10px;
}
.container_employee_page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-top: 1px solid;
}
.table_employee_stt{
    width: 2%;
}
.table_employee_name{
    width: 8%;
}
.table_employee_gender{
    width: 4%;
}
.table_employee_email{
    width: 7%;
}
.table_employee_birthday{
    width: 5%;
}
.table_employee_phone{
    width: 5%;
}
.table_employee_action{
    width: 5%;
}
.custom-confirm-button-employee {
    background-color: #0685aa !important;
    /* Các thuộc tính CSS khác mà bạn muốn áp dụng */
}